.shop3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{ 
    width: 23%;
    height: 300px;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 5px;
}

.box-img{
    height: 200px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: none;
    cursor: pointer;
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box-content p{
    color: #007185;
    cursor: pointer;
}
.box h4{
    cursor: pointer;
    font-weight: 700;
}
.big3{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    cursor: pointer;
    height: 50vh;
}